html, body, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}

#layer-controls {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  z-index: 1000;
}
